<h2>Choose a Blueprint</h2>
<div id="choose_blueprint">
  <% Blueprint.all.each do |blueprint| %>
    <%= button_to blueprint.name, "/admin/#{controller_name}/new/#{CGI.escape(blueprint.name)}", method: :get, class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>