<h2>Choose a Blueprint</h2>
<div id='choose_blueprint'>
  <% Blueprint.all.each do |blueprint| %>
    <%= form_with(model: item) do |form| %>
      <%= form.hidden_field :blueprint_id, value: blueprint.id %>
        <%= form.submit blueprint.name %>
    <% end %>
  <% end %>
</div>