<h1><%= controller_name.titleize -%></h1>

<div id="resources">
  <% @items.each do |item| %>
    <div class="resource">
      <%= render item %>
      <p>
        <%= link_to "Show this #{item.class}", item %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New #{controller_name.singularize}", url_for(controller: controller_name, action: :new) %>
