<h1>New <%= @item.class -%></h1>

<% if @item.blueprint %>
  <%= render 'form', item: @item %>
<% else %>
  <%= render 'choose_blueprint', item: @item %>
<% end %>

<br>

<div>
  <%= link_to "Back to #{@item.class.name.pluralize}", url_for(@item.class) %>
</div>
