<h1>New item</h1>

<% if @item.blueprint %>
  <%= render 'form', item: @item %>
<% else %>
  <%= render 'choose_blueprint', item: @item %>
<% end %>

<br>

<div>
  <%= link_to "Back to items", items_path %>
</div>
