<h1>Editing blueprint</h1>

<%= render "form", blueprint: @blueprint %>

<br>

<div>
  <%= link_to "Show this blueprint", @blueprint %> |
  <%= link_to "Back to blueprints", blueprints_path %>
</div>
