<% if can? :read, :dashboard -%>
  <nav id='admin_sidebar' class='d-flex flex-column flex-shrink-0 p-3'>
    <h2>Admin Tools</h2>
    <ul class='nav nav-pills flex-column mb-auto'>
      <li class='nav-item'>
        <%= link_to t('t3.admin.status'), status_path, class: ['nav-link', controller_name == 'status' ? 'active' : '' ]%>
      </li>

      <% [Item, Collection, Ingest, User, Role, Blueprint, Field, Theme, Config, CustomDomain].each do |menu_area|  %>
        <% if can? :read, menu_area %>
          <li class='nav-item'>
            <%= link_to t("t3.admin.#{menu_area.model_name.plural}"), menu_area, class: ['nav-link', active_class(menu_area)] %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
<% end %>
