<div id='solr_config' class='card'>
  <div class='card-body'>
    <h2>Solr Configuration</h2>
    <ul>
      <li><span class='label'>Solr:</span> <%= CatalogController.blacklight_config.connection_config[:url] -%></li>
      <li><span class='label'>Docs:</span> <%= AdminController.total_docs -%></li>
    </ul>
  </div>
</div>
