<h1 class='blueprint_name'><%= @blueprint.name %></h1>
<h4>Editing Blueprint</h4>

<%= render "form", blueprint: @blueprint %>

<br>

<div>
  <%= link_to "Show this blueprint", @blueprint %> |
  <%= link_to "Back to blueprints", blueprints_path %>
</div>
