<div class="card-body">
  <div class="terms_header">
    <div><h2>Terms (<span id="term_count"><%= vocabulary.terms.count -%></span>)</h2></div>
    <div><%= link_to "Add new term", new_vocabulary_term_path(vocabulary), class: 'btn btn-sm btn-outline-primary' %></div>
  </div>


  <% vocabulary.terms.order(:label).each do |term| %>
    <div class="term">
      <div><%= link_to term.label, term %></div>
      <div class="note"><%= term.note -%></div>
    </div>
  <% end %>

</div>