<div id="<%= dom_id vocabulary %>" class="card">
  <p>
    <strong>Label:</strong>
    <%= vocabulary.label %>
  </p>

  <p>
    <strong>Key:</strong>
    <span id="vocabulary_key"><%= vocabulary.key %></span>
  </p>

  <p>
    <strong>Note:</strong>
    <%= vocabulary.note %>
  </p>

</div>
