<div id="vocabularies">
  <div class="title_row">
    <h1><%= link_to "Vocabularies", vocabularies_path %> > </h1>
    <h1 class="vocabulary_title"> <%= @vocabulary.label %> (edit)</h1>
  </div>

  <div class="card">
    <%= render "form", vocabulary: @vocabulary %>
  </div>
</div>
