<div id="vocabularies">
  <div>
    <h1>New Vocabulary </h1>
  </div>

  <div class="vocabulary_details card">
    <%= render "form", vocabulary: @vocabulary %>
  </div>

<div>
  <%= link_to "≪ Back to vocabularies", vocabularies_path %>
</div>
