.item {
  input, textarea {
    width: 50rem;
    display: block;
  }

  select {
    width: 35rem;
    margin-right: 2rem;
    height: 1.9rem;
  }

  button.delete_value {
    width: 13rem;
  }

  button.add_value {
    display: block;
    margin-top: 0.25rem;
  }

  .required {
    font-style: italic;
  }

  label {
    margin-bottom: 0.5rem;
  }
}

#choose_blueprint {
  width: fit-content;

  button {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
}


