#vocabularies {
  .vocabulary_row:nth-of-type(even) {
    background-color: white;
  }

  a:link, a:visited { text-decoration: none; }
  // underline links on hover, except when formatted as buttons
  a:hover {
    text-decoration: underline;

    &.btn {
      text-decoration: none;
    }
  }

  max-width: 70rem;

  .page_title {
    display: grid;
    grid-template-columns: 17rem auto;
  }

  .vocabulary_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .vocabulary_details {
    form {
      display: grid;
      grid-template-columns: 10rem auto;

      .form_buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2.5rem auto 2.5rem 2rem;
        margin-bottom: 0.5rem;

        // ensure all buttons (& links) display the full witdth of the flex column
        * {
          width: 100%;
        }
      }

      fieldset {
        display: grid;
        grid-template-columns: 5.5rem auto;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        align-items: start;
        align-items: first baseline;

        label {
          text-align: right;
        }
      }

      .field_with_errors {
        * {
          width: 100%
        }
      }
    }
  }

  .terms_header {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .validation_errors {
    grid-column-start: 2;
  }

  .vocabulary_row {
    width: auto;
    display: flex;
  }

  .vocabulary_header {
    font-weight: bold;
    border-bottom-color: black;
    border-bottom-style: solid;
  }

  .vocabulary_label {
    width: 18rem;
    flex-shrink: 0;
  }

  .vocabulary_term_count {
    width: 4rem;
    text-align: center;
    flex-shrink: 0;
  }

  .vocabulary_note {
    margin-right: 0;
    width: auto;
  }

  .vocabulary_terms {

    .term {
      display: grid;
      grid-template-columns: 16rem auto;
    }

    .term:nth-of-type(odd) {
      background-color: white;
    }
  }
}

// Blur and desaturate the terms list when we're editing the main vocabulary details
.blacklight-vocabularies-edit .vocabulary_terms{
  filter: saturate(80%);
  filter: blur(1.5px);

  &:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.15);
  }
}
