<div id="<%= dom_id config %>">
  <p>
    <strong>Solr host:</strong>
    <%= config.solr_host %>
  </p>

  <p>
    <strong>Solr core:</strong>
    <%= config.solr_core %>
  </p>

  <p>
    <strong>Field count:</strong>
    <%= config.fields.count %>
  </p>

</div>
