<h1>Solr Configuration</h1>
<p style="color: green"><%= notice %></p>

<div>
  <strong>Solr host:</strong>
  <%= @config.solr_host %>
</div>

<div>
  <strong>Solr core:</strong>
  <%= @config.solr_core %>
</div>

<div>
  <%= link_to "Edit this config", edit_config_path(@config) %> |
</div>
