<h1>Editing term</h1>

<%= render "form", term: @term %>

<br>

<div>
  <%= link_to "Show this term", [@term.vocabulary, @term] %> |
  <%= link_to "Back to terms", vocabulary_terms_path(@term.vocabulary) %>
</div>
