<div id="terms">
  <h1 id="vocabulary_label"><%= @vocabulary.label %></h1>
  <h2>Vocabulary Terms</h2>


  <div id='terms_headers' class="row term_header">
    <div class="col tools">
    </div>
    <div class="col term_label">
      <strong>Label</strong>
    </div>
    <div class="col term_key">
      <strong>Key</strong>
    </div>
    <div class="col term_value">
      <strong>Value</strong>
    </div>
    <div class="col term_note">
      <strong>Note</strong>
    </div>
  </div>
  <% @terms.each do |term| %>
    <%= render term %>
  <% end %>

  <%= link_to "New term", new_vocabulary_term_path %>
</div>